:root
{

--gray1:#d6d6d6;
--blue:#1e79fa;
--green:#0c7307;
--white:#fff;
--red:#de2d12;
--yellow:#d6d600;
--b-r10:10px;
--b-r4:4px;



}





.color-white
{
	color: var(--white);
}

.bar
{
	width: 300px;
}
.bar1
{
	width: 60%;
	height: 20px;
}
.b-r10
{
	border-radius: var(--b-r10);
}

.text
{
	text-align: center;
}
.bar2
{
	width: 10%;
	height: 20px
}
.bar3
{
	width: 40%;
	height: 20px
}
.bar4
{
	width: 80%;
	height: 20px
}
.bar5
{
	width: 35%;
	height: 20px
}

.b-r4
{
	border-radius: var(--b-r4);
}
.master
{
	display: grid;
	
	grid-auto-rows: auto;
	grid-row-gap: 30px;
}
.bar6
{
	height: 6px;
}
.cir
{
	border-radius: 50%;
}
.circ-width
{
	width: 200px;
	height: 200px;
}
.circ-in
{
	width: 60%;
	height: 20px;
}
.btn1
{
	width: 250px;
	height: 250px;
	display: grid;
	align-content: center;
	justify-content: center;
}
.btn2
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

/*new style sheet*/


.primary .bg1
{
	background-color: var(--gray1);
}
.primary .bg2
{
	background-color: var(--blue);
}



.secondary .bg1
{
	background-color: var(--gray1);
}

.secondary .bg2
{
	background-color: var(--green);
}

.tertiary .bg1
{
background-color: var(--gray1);
}

.tertiary .bg2
{
	background-color: var(--red);
}

.quaternary .bg1
{
background-color: var(--gray1);
}
.quaternary .bg2
{
background-color: var(--yellow);
}


.white
{
	background-color: var(--white);
}
.red
{
	background-color: var(--red);
}
.yellow
{
	background-color: var(--yellow);
}
.color-white
{
	color: var(--white);
}

.bar
{
	width: 300px;
}
.bar1
{
	width: 60%;
	height: 20px;
}
.b-r10
{
	border-radius: var(--b-r10);
}

.text
{
	text-align: center;
}
.bar2
{
	width: 10%;
	height: 20px
}
.bar3
{
	width: 40%;
	height: 20px
}
.bar4
{
	width: 80%;
	height: 20px
}
.bar5
{
	width: 35%;
	height: 20px
}

.b-r4
{
	border-radius: var(--b-r4);
}
.master
{
	display: grid;
	
	grid-auto-rows: auto;
	grid-row-gap: 30px;
}
.bar6
{
	height: 6px;
}
.cir
{
	border-radius: 50%;
}
.circ-width
{
	width: 200px;
	height: 200px;
}
.circ-in
{
	width: 60%;
	height: 20px;
}
.btn1
{
	width: 250px;
	height: 250px;
	display: grid;
	align-content: center;
	justify-content: center;
}
.btn2
{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.outer
{
	display: grid;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	justify-content: center;
	align-content: center;
}
.inner
{
	width: 130px;
	height: 130px;
	background-color: #fff;
	display: grid;
	border-radius: 50%;
	justify-items: center;
	align-content: center;
	grid-auto-rows: auto;
	grid-row-gap: 5px; 

}

.outer-sm
{
	display: grid;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	justify-content: center;
	align-content: center;
}
.inner-sm
{
	width: 142px;
	height: 142px;
	background-color: #fff;
	display: grid;
	border-radius: 50%;
	justify-items: center;
	align-content: center;
	grid-auto-rows: auto;
	grid-row-gap: 5px; 

}




.text3
{
	color: var(--gray1);
	font-size:20px;
}
.text4
{
	color: var(--gray1);

}
.icon
{
	font-size:40px;
}

.primary .linearbg
{
	background-image: linear-gradient(50deg,#ddd 11%, transparent 11%),linear-gradient(-21deg, #028cd5 70%, #ddd 0%);

}
.primary .icon
{
	color: var(--blue);
}


.secondary .linearbg
{
	background-image: linear-gradient(50deg,#ddd 11%, transparent 11%),linear-gradient(-21deg, var(--green) 70%, #ddd 0%);

}
.secondary .icon
{
	color: var(--green);
}

.tertiary .linearbg
{
	background-image: linear-gradient(50deg,#ddd 11%, transparent 11%),linear-gradient(-21deg, var(--red) 70%, #ddd 0%);

}
.tertiary .icon
{
	color: var(--red);
}


.quaternary .linearbg
{
	background-image: linear-gradient(50deg,#ddd 11%, transparent 11%),linear-gradient(-21deg, var(--yellow) 70%, #ddd 0%);

}
.quaternary .icon
{
	color: var(--yellow);
}







